# ssh
export SSH_PORT=
export WEBSERVER_IP_ADDRESS=

# run wercker
export WERCKER_TOKEN=
export WERCKER_PIPELINE_ID=

# Let's Encrypt
export WEB_DOMAIN=
export WEB_DOMAIN_MAIL_ADDRESS=

# monitoring
export AWS_PROFILE=
export SLACK_WEBHOOK_URL=
export HEALTH_CHECK_URL=
export STRESS_TEST_RESULT_ALLOW_IP_HOME=